body {
  overflow: hidden;
}

.game-board {
  width: 400px;
  height: 400px;
  border: 8px solid chocolate;
  display: flex;
  flex-flow: column wrap;
  background-color: white;
  align-items: center;
  margin: 0 auto;
}

.tile {
  width: calc(100% / 16);
  height: calc(100% / 16);
}

h1 {
  color: #005500;
  font-size: 3rem;
  font-family: 'Lemon', cursive;
  text-align: center;
  margin: 16px 0 32px 0;
}